trunk/dev/Experion.Updater/src/ServerPerformance/Service References/EHS_7/HealthService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Experion.HealthService.Dto" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Experion.HealthService.Dto" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="MachineMemoryInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="AvailablePhysicalMemory" type="xs:decimal" />
      <xs:element minOccurs="0" name="FreeMemory" type="xs:decimal" />
      <xs:element minOccurs="0" name="MachineName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Occupied" type="xs:decimal" />
      <xs:element minOccurs="0" name="TotalMemory" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MachineMemoryInfo" nillable="true" type="tns:MachineMemoryInfo" />
  <xs:complexType name="MachineProcessInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="MachineName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProcessInfos" nillable="true" type="tns:ArrayOfProcessInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MachineProcessInfo" nillable="true" type="tns:MachineProcessInfo" />
  <xs:complexType name="ArrayOfProcessInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProcessInfo" nillable="true" type="tns:ProcessInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProcessInfo" nillable="true" type="tns:ArrayOfProcessInfo" />
  <xs:complexType name="ProcessInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WorkingSet" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProcessInfo" nillable="true" type="tns:ProcessInfo" />
</xs:schema>