trunk/dev/Experion.Updater/src/TTsys/Service References/PMOService/PMOService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://sharepoint.experionglobal.com:8080/pmo/PMOService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Experion.PMO.Data.Contracts" />
  <xs:import schemaLocation="http://sharepoint.experionglobal.com:8080/pmo/PMOService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllDeviceLogs">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllDeviceLogsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Experion.PMO.Data.Contracts" minOccurs="0" name="GetAllDeviceLogsResult" nillable="true" type="q1:ArrayOfDeviceLogDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEffort">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dateFrom" type="xs:dateTime" />
        <xs:element minOccurs="0" name="empoyeeID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEffortResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetEffortResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLogTransacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dateFrom" type="xs:dateTime" />
        <xs:element minOccurs="0" name="dateTo" type="xs:dateTime" />
        <xs:element minOccurs="0" name="employeeId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLogTransacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetLogTransacionResult" nillable="true" type="q2:ArrayOfKeyValueOfdateTimeArrayOfLogEntryDtoQ9qg2HMg" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPossibleLeaveEntry">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="date" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPossibleLeaveEntryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetPossibleLeaveEntryResult" nillable="true" type="q3:ArrayOfKeyValueOfstringEmployeeLeaveDtoQ9qg2HMg" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddLogEntry">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Experion.PMO.Data.Contracts" minOccurs="0" name="log" nillable="true" type="q4:DeviceLogDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddLogEntryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddLogEntryResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>