trunk/dev/Experion.Updater/src/TTsys/Service References/PMOService/PMOService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.microsoft.com/2003/10/Serialization/Arrays" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://sharepoint.experionglobal.com:8080/pmo/PMOService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Experion.PMO.Data.Contracts" />
  <xs:complexType name="ArrayOfKeyValueOfdateTimeArrayOfLogEntryDtoQ9qg2HMg">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfdateTimeArrayOfLogEntryDtoQ9qg2HMg">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Key" type="xs:dateTime" />
            <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Experion.PMO.Data.Contracts" name="Value" nillable="true" type="q1:ArrayOfLogEntryDto" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfdateTimeArrayOfLogEntryDtoQ9qg2HMg" nillable="true" type="tns:ArrayOfKeyValueOfdateTimeArrayOfLogEntryDtoQ9qg2HMg" />
  <xs:complexType name="ArrayOfKeyValueOfstringEmployeeLeaveDtoQ9qg2HMg">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfstringEmployeeLeaveDtoQ9qg2HMg">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Key" nillable="true" type="xs:string" />
            <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Experion.PMO.Data.Contracts" name="Value" nillable="true" type="q2:EmployeeLeaveDto" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfstringEmployeeLeaveDtoQ9qg2HMg" nillable="true" type="tns:ArrayOfKeyValueOfstringEmployeeLeaveDtoQ9qg2HMg" />
</xs:schema>