trunk/dev/Experion.Updater/src/TTsys/Service References/PMOService/PMOService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PMOService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://sharepoint.experionglobal.com:8080/pmo/PMOService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://sharepoint.experionglobal.com:8080/pmo/PMOService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://sharepoint.experionglobal.com:8080/pmo/PMOService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Experion.PMO.Data.Contracts" />
      <xsd:import schemaLocation="http://sharepoint.experionglobal.com:8080/pmo/PMOService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPMOService_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IPMOService_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IPMOService_GetAllDeviceLogs_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllDeviceLogs" />
  </wsdl:message>
  <wsdl:message name="IPMOService_GetAllDeviceLogs_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllDeviceLogsResponse" />
  </wsdl:message>
  <wsdl:message name="IPMOService_GetEffort_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEffort" />
  </wsdl:message>
  <wsdl:message name="IPMOService_GetEffort_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEffortResponse" />
  </wsdl:message>
  <wsdl:message name="IPMOService_GetLogTransacion_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLogTransacion" />
  </wsdl:message>
  <wsdl:message name="IPMOService_GetLogTransacion_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLogTransacionResponse" />
  </wsdl:message>
  <wsdl:message name="IPMOService_GetPossibleLeaveEntry_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPossibleLeaveEntry" />
  </wsdl:message>
  <wsdl:message name="IPMOService_GetPossibleLeaveEntry_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPossibleLeaveEntryResponse" />
  </wsdl:message>
  <wsdl:message name="IPMOService_AddLogEntry_InputMessage">
    <wsdl:part name="parameters" element="tns:AddLogEntry" />
  </wsdl:message>
  <wsdl:message name="IPMOService_AddLogEntry_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddLogEntryResponse" />
  </wsdl:message>
  <wsdl:portType name="IPMOService">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IPMOService/GetData" message="tns:IPMOService_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPMOService/GetDataResponse" message="tns:IPMOService_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllDeviceLogs">
      <wsdl:input wsaw:Action="http://tempuri.org/IPMOService/GetAllDeviceLogs" message="tns:IPMOService_GetAllDeviceLogs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPMOService/GetAllDeviceLogsResponse" message="tns:IPMOService_GetAllDeviceLogs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEffort">
      <wsdl:input wsaw:Action="http://tempuri.org/IPMOService/GetEffort" message="tns:IPMOService_GetEffort_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPMOService/GetEffortResponse" message="tns:IPMOService_GetEffort_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLogTransacion">
      <wsdl:input wsaw:Action="http://tempuri.org/IPMOService/GetLogTransacion" message="tns:IPMOService_GetLogTransacion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPMOService/GetLogTransacionResponse" message="tns:IPMOService_GetLogTransacion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPossibleLeaveEntry">
      <wsdl:input wsaw:Action="http://tempuri.org/IPMOService/GetPossibleLeaveEntry" message="tns:IPMOService_GetPossibleLeaveEntry_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPMOService/GetPossibleLeaveEntryResponse" message="tns:IPMOService_GetPossibleLeaveEntry_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddLogEntry">
      <wsdl:input wsaw:Action="http://tempuri.org/IPMOService/AddLogEntry" message="tns:IPMOService_AddLogEntry_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPMOService/AddLogEntryResponse" message="tns:IPMOService_AddLogEntry_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPMOService" type="tns:IPMOService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IPMOService/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllDeviceLogs">
      <soap:operation soapAction="http://tempuri.org/IPMOService/GetAllDeviceLogs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEffort">
      <soap:operation soapAction="http://tempuri.org/IPMOService/GetEffort" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLogTransacion">
      <soap:operation soapAction="http://tempuri.org/IPMOService/GetLogTransacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPossibleLeaveEntry">
      <soap:operation soapAction="http://tempuri.org/IPMOService/GetPossibleLeaveEntry" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddLogEntry">
      <soap:operation soapAction="http://tempuri.org/IPMOService/AddLogEntry" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PMOService">
    <wsdl:port name="BasicHttpBinding_IPMOService" binding="tns:BasicHttpBinding_IPMOService">
      <soap:address location="http://sharepoint.experionglobal.com:8080/pmo/PMOService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>