trunk/dev/Experion.Updater/Experion.Updated.Tester/Service References/EHS/HealthService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="HealthService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.1.90:8080/EHS/HealthService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.1.90:8080/EHS/HealthService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.1.90:8080/EHS/HealthService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Experion.HealthService" />
      <xsd:import schemaLocation="http://192.168.1.90:8080/EHS/HealthService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Experion.HealthService.Dto" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IHealthService_GetMemoryUsage_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMemoryUsage" />
  </wsdl:message>
  <wsdl:message name="IHealthService_GetMemoryUsage_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMemoryUsageResponse" />
  </wsdl:message>
  <wsdl:message name="IHealthService_GetAllMemoryStatics_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllMemoryStatics" />
  </wsdl:message>
  <wsdl:message name="IHealthService_GetAllMemoryStatics_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllMemoryStaticsResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetData" message="tns:IService1_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataResponse" message="tns:IService1_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContract" message="tns:IService1_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContractResponse" message="tns:IService1_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IHealthService">
    <wsdl:operation name="GetMemoryUsage">
      <wsdl:input wsaw:Action="http://tempuri.org/IHealthService/GetMemoryUsage" message="tns:IHealthService_GetMemoryUsage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHealthService/GetMemoryUsageResponse" message="tns:IHealthService_GetMemoryUsage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllMemoryStatics">
      <wsdl:input wsaw:Action="http://tempuri.org/IHealthService/GetAllMemoryStatics" message="tns:IHealthService_GetAllMemoryStatics_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHealthService/GetAllMemoryStaticsResponse" message="tns:IHealthService_GetAllMemoryStatics_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_IHealthService" type="tns:IHealthService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetMemoryUsage">
      <soap:operation soapAction="http://tempuri.org/IHealthService/GetMemoryUsage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllMemoryStatics">
      <soap:operation soapAction="http://tempuri.org/IHealthService/GetAllMemoryStatics" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HealthService">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://192.168.1.90:8080/EHS/HealthService.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_IHealthService" binding="tns:BasicHttpBinding_IHealthService">
      <soap:address location="http://192.168.1.90:8080/EHS/HealthService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>