trunk/dev/samples/EFC.Samples.WebInteraction/EFC.Samples.WebInteraction/Service References/ServiceReference1/CustomerService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Unity.Wcf.Example" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Unity.Wcf.Example" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="GetCustomerRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="CustomerId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetCustomerRequest" nillable="true" type="tns:GetCustomerRequest" />
  <xs:complexType name="GetCustomerResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetCustomerResponse" nillable="true" type="tns:GetCustomerResponse" />
</xs:schema>