trunk/dev/samples/EFC.Samples.WebInteraction/EFC.Samples.WebInteraction/Service References/ServiceReference1/CustomerService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EFC.Samples.Service.Contracts.Dto" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EFC.Samples.Service.Contracts.Dto" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="BeatPlanDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExipryDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="OrganizationId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="PlanName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Target" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BeatPlanDto" nillable="true" type="tns:BeatPlanDto" />
</xs:schema>